*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(
    to bottom right,
    rgb(116, 116, 173),
    rgb(84, 128, 101)
  );
}
